{% extends 'modals/baseModal.html' %}

<!--Modal ID-->
{% block modal-id %} id="backendModal" {% endblock modal-id %}
<!--Modal Title-->
{% block modal-title %} Backend opportunities {% endblock modal-title %}
<!--Form Action-->
{% block action %} action="/email_backend"{% endblock action %}
<!--Form validation-->
{% block validation %} onsubmit= "return validateForm2()" {% endblock validation %}
<!--=============INPUT ID============-->
{% block id-name %} id="name2" {% endblock id-name %}
{% block id-age %} id="age2" {% endblock id-age %}
{% block id-email %} id="email2" {% endblock id-email %}
{% block id-phone %} id="phone2" {% endblock id-phone %}
{% block id-address %} id="address2" {% endblock id-address %}
{% block id-skills %} id="skills2" {% endblock id-skills %}
{% block id-experience %} id="experience2" {% endblock id-experience %}
{% block id-file %} id="file2" {% endblock id-file %}