{% extends 'base.html'%}
{% block title %}Opportunities{% endblock title %}

{% block navbar-content %}
<i class=" text-warning fas fa-code"></i>&nbsp;&nbsp;Opportunities
{% endblock navbar-content %}

<!--Navbar link-->
{% block link %}
<a href="{% url 'home' %}" style="margin-right:25px;font-size:25px;" title="Go back">
    <i class="text-warning fas fa-angle-double-left" id="back" ></i>
</a>
{% endblock link %}
<!--page content-->
{% block content %}
<div class="container mt-4" style="width:80%;">
    <div class="justify-content-center align-items-center row">
        <h6 class="btn btn-warning" id="card-title" style="width:100%;cursor:default;">
            <strong>AVAILABLE JOB OPPORTUNITIES</strong>
        </h6>
        <div class="shadow-lg card p-3 mt-3" style="background-color:gray;">
            <div class="row">
                <!--First button-->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color:transparent;">
                        <button class="btn btn-outline-warning btn-lg jobs" data-bs-toggle="modal" data-bs-target="#frontendModal">
                            <i class="fab fa-react fa-5x"></i>
                            <br /><br />Front end
                        </button>
                    </div>
                </div>
                <!--Second button-->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color:transparent;">
                        <button class="btn btn-outline-warning btn-lg jobs" data-bs-toggle="modal" data-bs-target="#backendModal">
                            <i class="fab fa-python fa-5x"></i>
                            <br /><br />Back end
                        </button>
                    </div>
                </div>
                <!--Third button-->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color:transparent;">
                        <button class="btn btn-outline-warning btn-lg jobs" data-bs-toggle="modal" data-bs-target="#fullstackModal">
                            <i class="fab fa-node-js fa-5x"></i>
                            <br /><br />Full stack
                        </button>
                    </div>
                </div>
                <!--Fourth button-->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color:transparent;">
                        <button class="btn btn-outline-light btn-lg jobs" disabled>
                            <i class="fas fa-file-code fa-5x"></i>
                            <br /><br />Intern(closed)
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--end// container-->


<!-- Modal Front end -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  end -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <d''iv class="modal-body">
                ...
            </d''iv>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div><!--end container-->
<!--spinner Ajax (backend)-->
<div id="bg-spinner">
    <div id="position-spinner">
        <span>"spinner"</span>
    </div>
</div>
<br /><br /><br /><br />
{% endblock content %}